@model DecisionPoint.Models.UserDashBoard
@{
    ViewBag.Title = "UserDashBoard : History";
    Layout = "~/Views/Shared/_CompanyDashBoardLayout.cshtml";
    WebGrid grdhistory = new WebGrid(ajaxUpdateContainerId: "historygrid1", rowsPerPage: Model.RowperPage);
    if (Model.HistoryDetails != null)
    {
        grdhistory.Bind(Model.HistoryDetails, autoSortAndPage: true, rowCount: Model.PageSize);
    }

    DateTime defaultdate = new DateTime();
    defaultdate = Convert.ToDateTime("1/1/1900 12:00:00 AM", System.Globalization.CultureInfo.InvariantCulture);
    
}


@Styles.Render("~/Content/css/historycss")



<div style="background: none !important;">
    @* <script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery-ui-1.10.3.js"></script>*@
    <div class='documents' style="line-height: 2px !important;">
        <div class='heading'>
            <div class='row'>
                <h3> My Library List</h3>
                <div style="padding-left: 100px;">
                          <div style="float:right;margin-bottom:20px;">
                        <div class='input-append' style="margin-right:-2px; float:left;">

                            <input class='input-xlarge' id='txtserach' placeholder='Search...' type='text' />
                            <button class='btn btn-primary' type='button' id="btngo" onclick="Go()" style="height: 29px;">Go</button>

                        </div>
                        <div style="float: right; margin-left: 5px; float:left;">
                            <button class='btn btn-primary' type='button' id="btnviewall" onclick="viewall()" style="display: none;height: 28px;">View All</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
    </div>


    <div class="filter-bar">
        <strong>Filter List By:</strong>
        <div class="dropdown">

            <a href="#" data-toggle="dropdown" id="groupdd" title="Group" class="dropdown-toggle btn btn-info">
                <b id="grouptypedd" >Group</b>
                <b class="caret"></b>
            </a>
            @if (Model.GroupDetails != null)
            {
                if (Model.GroupDetails.Count() > 0)
                {
                <ul role="menu" class="dropdown-menu" style="width: auto !important;">
                    <li>
                        <a>
                            <label style="font-weight: normal" id="allref" class="checkbox">
                                <input class="groupchkall" type="checkbox" autocomplete="off" onchange="filter('history','All','2')" value="All" style="margin-left: -2px;">
                               &nbsp;  All
                            </label>
                        </a>
                    </li>
                    @{string docref = string.Empty;}
                    @foreach (var refe in Model.GroupDetails.Select(x => x.categoryName))
                    {
                        if (refe != null && refe != string.Empty)
                        {
                            if (docref != refe && refe.Trim() != string.Empty)
                            {
                        <li > 
                            <a>
                                <label style="font-weight:normal" class="checkbox" id="@refe">
                                     <input class="groupchk" type="checkbox" autocomplete="off" onchange="filter('history','@refe','2')"  value="@refe" style="margin-left: -2px;">
                                  &nbsp;   @refe
                                </label>
                            </a>
                        </li>
                            }
                            if (refe.Trim() != string.Empty)
                            {
                                docref = refe;
                            }
                        }
                    }
                </ul>
                }
            }
        </div>
        <div class="dropdown">

            <a href="#" data-toggle="dropdown" id="refdd" class="dropdown-toggle btn btn-primary">
                <b id="reftypedd">Category</b>
                <b class="caret"></b>
            </a>
          <ul role="menu" id="catlis" class="dropdown-menu" style="width: auto !important;">
                   
                </ul>
        </div>
        <div class="dropdown">

            <a data-toggle="dropdown" id="docdd" class="dropdown-toggle btn btn-primary">
                <b id="doctypedd">Sub Category</b>
                <b class="caret"></b>
            </a>
          <ul role="menu" id="refelis" class="dropdown-menu" style="width: auto !important;">
                    
           </ul>
        </div>
        

    </div>


    @*funtion used for sorting in webgrid*@
    @functions {
        public static string Sorter(string columnName, string columnHeader, WebGrid grid)
        {
            return string.Format("{0} {1}", columnHeader, grid.SortColumn == columnName ?
                grid.SortDirection == SortDirection.Ascending ? "↑" :
                "↓" : string.Empty);
        }
    }
    <div id="historydiv" class="hh">
        @if (Model.HistoryDetails != null)
        {

           
                            
            @grdhistory.GetHtml(htmlAttributes: new { id = "historygrid" },
    tableStyle: "table table-hover",
    headerStyle: "header",
    alternatingRowStyle: "alt",
    columns: new[] {

    
    grdhistory.Column(columnName:"",format:   @<text>
                @if(item.accecpted ==true && item.assesmentStatus == "pass")
    {
<img src="~/Content/images/check-in.png" height="15" style="padding-left:inherit" width="20" alt="Status" title="Completed" />
    }

                </text>,style:"grid-width61px"),
    grdhistory.Column(columnName:"policyNo", header: Sorter("policyNo", "Comm #", grdhistory),canSort: true,
    format:@<text>
            @if(item.versionno!=0)
        {
                @item.policyNo <span style="height:45px;">v<sub>@item.versionno</sub></span>
        }
        else
        {
<span>&nbsp;</span>
        }
            </text>
    ,style:"grid-width100"),
    grdhistory.Column("reference", header: Sorter("reference", "Category", grdhistory),style:"grid-width100"),
    grdhistory.Column("reqDocType", header: Sorter("reqDocType", "Sub Category", grdhistory),style:"grid-width300"),
        
    grdhistory.Column("title",header: Sorter("title", "Title", grdhistory),
    format:@<text>

            @*  @objUserView = objUserResponseView.getUserViewList(Convert.ToInt32(Session["UserId"]), @item.docTypeId);
              if(objUserView.Count()<=0)
              {
               <a href="" onclick="DocumentInfo()">@(item.title)</a> 
              }
              else
              {*@
        <a id="doctitle" href="@Url.Content("~/UserDashboard/ViewDocument?id=")@item.docTypeId&tbId=@item.tableId&type=libview" target="_blank">@item.title</a>
            @*<a id="doctitle" href="@Url.Action("ViewDocument", "UserDashboard", new {id=item.docTypeId,tbid=item.tableId }, null)" target="_blank">@item.title</a>*@
            @*<a id="doctitle" href="~/UserDashBoard/ViewDocument/@item.docTypeId" target="_blank"  style="cursor: pointer;">@(item.title) </a>*@
            @*}*@




            </text>,style:"grid-width100"),
     grdhistory.Column("hourofcredit", header: Sorter("hourofcredit", "CE", grdhistory),
      format:@<text>
            @if(item.versionno!=0){
<div>@item.hourofcredit</div> }

            </text>,style:"grid-width100"),
         grdhistory.Column("receviedDate",header: Sorter("receviedDate", "Received", grdhistory), format: @<text>
                @if (item.versionno != 0 )
        {
                     if (item.receviedDate != null)
                {
<span>  @string.Format("{0:MM/dd/yyyy}",
             item.receviedDate)</span>
                }
        }</text>,style:"webgridcol1"),     
        grdhistory.Column("completeDate",header: Sorter("completeDate", "Completed", grdhistory),format: @<text>  @if (item.versionno != 0 && item.completeDate!=null)
                                                                                                                  {
<span>  @string.Format("{0:MM/dd/yyyy}",
             item.completeDate)</span>
        }</text>,style:"webgridcol1"), 
   grdhistory.Column("effectiveDate",header: Sorter("effectiveDate", "Effective Date", grdhistory),
   format:  @<text>
            @if(item.versionno!=0){

    if(item.effectiveDate!=defaultdate)
             {<span> 
              @string.Format("{0:MM/dd/yyyy}",
             
                 item.effectiveDate) 
             </span> 
    }
    }
   </text>,style:"grid-width100px"),

              grdhistory.Column("", format: @<text>
         @if(item.versionno!=0){
             if(!string.IsNullOrEmpty(item.status))
             {
                 if(item.status=="new"){
       <button class="btn btn-mini btnminired" onclick="showreactivediv('@item.tableId','4')" >Reactive</button>
         }
         }
         } </text>,style:"grid-width300", canSort: false)   
    
  }) 
           
     
           
        }
       

    </div>
</div>
<script type="text/javascript">

    function DocumentInfo() {
        alert("Find No document Details!!");
    }


    $(document).ready(function () {
        ShowHideTabs('mylib');

       

        //set blank row width
        $("#historygrid tbody tr").each(function (index) {
            // alert($(this).find('#doctitle').html());
            var docname = $(this).find('#doctitle').html().trim();
            if (docname == "") {
                // alert(154);
                $(this).addClass("setwidth");

            }
        });
      
    })

    //$(function () {
    //    alert('comeee');
    //})
   
    //category
    $('#refdd').click(function () {
        $("#docdd").css({ "background-color": "#0044CC" });
        $("#docdd").css({ "background-image": "linear-gradient(to bottom, #0088CC, #0044CC)" });
        $('#doctypedd').html("Sub Category");
        $('#refelis').empty();
    })
    //category
    $('#groupdd').click(function () {
        $("#docdd").css({ "background-color": "#0044CC" });
        $("#docdd").css({ "background-image": "linear-gradient(to bottom, #0088CC, #0044CC)" });
        $('#doctypedd').html("Sub Category");
        $("#refdd").css({ "background-color": "#0044CC" });
        $("#refdd").css({ "background-image": "linear-gradient(to bottom, #0088CC, #0044CC)" });
        $('#reftypedd').html("Category");
        var chkstatus = true;
        $('.groupchk').each(function () {

            if ($(this).is(':checked')) {
                chkstatus = false
            }
        })
        if ($('.groupchkall').is(":checked")) {
            chkstatus = false
        }
        //alert(chkstatus);
        if (chkstatus) {
            $('#catlis').empty();
        }
        
    })
    $("#txtserach").autocomplete({
        source: function (request, response) {
            var filtervalue = setgroupfiltervalue() + ":group" + "," + $('#reftypedd').html() + ":reference" + "," + $('#doctypedd').html() + ":doctype";
            filtervalue = filtervalue + "," + $('#txtserach').val() + ":serach";
            request.term = filtervalue;
            $.ajax({
                url: '@Url.Content("~/CompanyDashBoard/SerachInhistory")',
                cache: false,
                type: "POST",
                dataType: "json",
                data: { term: request.term },
                success: function (data) {
                    
                    response($.map(data, function (item) {
                        return { label: item, value: item };
                    }))
                }
            })
        }

        });
</script>


