@model DecisionPoint.Models.UserLogin
@{
    ViewBag.Title = "ChangePassword";
    if (Request["Type"] == "SIC")
    {
        Layout = "~/Views/Shared/_StaffICSetupProfileLayout.cshtml";
    }
    //else if (Request["Type"] == "IC")
    //{
    //    Layout = "~/Views/Shared/_ICSetUpLayoutPage.cshtml";
    //}

    else
    {
        Layout = null;
    }
    
}

@Scripts.Render("~/bundles/Login")

<link href="~/Content/css/Login/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/Login/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/css/Dashboard/style.css" rel="stylesheet" />

<html lang="en">
<head>
    <script type="text/javascript">

        function CheckValidation() {

            var newPassword = $("#NewPassword").val();
            var confirmPassword = $("#ConfirmPassword").val();
            var oldPassword = $("#OldPassword").val();
            if (newPassword != '' || confirmPassword != '') {
                $("#NewPasswordRequired").hide();
                $("#ConfirmPasswordRequired").hide();
            }
            if (newPassword == '') {
                $("#NewPasswordRequired").show();
                if (confirmPassword == '') {
                    $("#ConfirmPasswordRequired").show();
                }
                else {
                    $("#ConfirmPasswordRequired").hide();
                }
                return false;
            }
            if (confirmPassword == '') {
                $("#ConfirmPasswordRequired").show();
                if (newPassword == '') {
                    $("#NewPasswordRequired").show();
                }
                else {
                    $("#NewPasswordRequired").hide();
                }
                return false;
            }
            if (newPassword != confirmPassword) {
                $("#PasswordMatch").show();
                $("#NewPassword").val('');
                $("#ConfirmPassword").val('');
                return false;
            }

            if (newPassword.length < 6) {
                $("#NewPassword").val('');
                $("#ConfirmPassword").val('');
                $('#ValidatePasswordLength').show();
                return false;
            } else {
                $('#ValidatePasswordLength').hide();
            }

            if (CheckPassword() == false) {
                return false;
            }
            $('#ValidatePasswordLength').hide();
            $("#NewPasswordRequired").hide();
            $("#ConfirmPasswordRequired").hide();
            $("#PasswordMatch").hide();
            return true;
        }
        function CheckPassword() {
            var count = 0;
            var pass = $("#NewPassword").val();
            count += /[a-z]/.test(pass) ? 1 : 0;
            count += /[A-Z]/.test(pass) ? 1 : 0;
            count += /\d/.test(pass) ? 1 : 0;
            count += /[^\w\d\s]/.test(pass) ? 1 : 0;
            if (count > 2 & !/[\s]+/.test(pass)) {
                document.getElementById("ValidatePassword").style.display = 'none';
                return true;
            } else {
                document.getElementById("ValidatePassword").style.display = 'block';
                return false;
            }

        }
        function CheckValidationOnChange() {
            var newPassword = $("#NewPassword").val();
            var confirmPassword = $("#ConfirmPassword").val();
            var oldPassword = $("#OldPassword").val();
            if (newPassword != '' || confirmPassword != '') {
                $("#NewPasswordRequired").hide();
                $("#ConfirmPasswordRequired").hide();
            }

            if (newPassword != confirmPassword && newPassword != '' && confirmPassword != '') {
                $("#PasswordMatch").show();
                return false;
            }

            if (newPassword.length < 6) {
                $('#ValidatePasswordLength').show();
                return false;
            } else {
                $('#ValidatePasswordLength').hide();
            }

            if (CheckPassword() == false) {
                return false;
            }
            $('#ValidatePasswordLength').hide();
            $("#NewPasswordRequired").hide();
            $("#ConfirmPasswordRequired").hide();
            $("#PasswordMatch").hide();
            return true;
        }

       
    </script>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>Training Repository Design</title>
    <link href="" rel="canonical">
    <meta content="noindex" name="robots">
</head>
<body>


    <div id="content">
        <div class="container">
            <div class='content-box'>

                @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { id = "SubmitForm" }))
                {
                    <div id="reset-password">
                        <div class="center-box" style="width: 94.6%; min-height: 425px;">
                            <h2>Change Password</h2>
                            <hr>
                            <form>
                                <div class="control-group">
                                    <label class="control-label">Please Enter Email Address</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Email, new { @readonly = "readonly" })
                                        <span id="EmailRequired" style="color: red; display: none">@DecisionPointCAL.DecisionPointR.EmailRequired</span>
                                    </div>
                                </div>

                                @Html.HiddenFor(model => model.RedirectType)
                                @Html.HiddenFor(model => model.PaymentType)
                                <div class="control-group">
                                    <label class="control-label">Please Enter a New Password</label>
                                    <div class="controls">
                                        @Html.PasswordFor(model => model.NewPassword, new { autocomplete = "off", onchange = "CheckValidationOnChange()", @value = Model.NewPassword })
                                        <div class="controls">
                                            <span id="Div_PasswordRule" style="color: blue; font-size: small; cursor: pointer; font-style: italic; float: left; width: 100%;">Password Rules</span>
                                            <div id="divPwdRules" style="font-size: small; display: none; font-family: Arial; color: rgb(128, 128, 128); width: 95%; padding-bottom: 10px;">
                                                Password should be alphanumeric with one special character.
                                                Password should contain 0-9, a-z, A-Z, #$%^&*@@.
                                            </div>
                                        </div>
                                        <span id="NewPasswordRequired" style="color: red; display: none">@DecisionPointCAL.DecisionPointR.RequireNewPassword</span>
                                        <span id="ValidatePassword" style="color: red; display: none">@DecisionPointCAL.DecisionPointR.PasswordRules</span>
                                        <span id="ValidateOldPassword" style="color: red; display: none">@DecisionPointCAL.DecisionPointR.PasswordNotMatch</span>
                                        <span id="ValidatePasswordLength" style="color: red; display: none">@DecisionPointCAL.DecisionPointR.PasswordLength</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Password Confirmation</label>
                                    <div class="controls">
                                        @Html.PasswordFor(model => model.ConfirmPassword, new { autocomplete = "off", onchange = "CheckValidationOnChange()", @value = Model.ConfirmPassword })
                                        <span id="ConfirmPasswordRequired" style="color: red; display: none">@DecisionPointCAL.DecisionPointR.ConfirmPassword</span>
                                    </div>

                                </div>

                                <p id="chngPwdBtnDiv" style="float: right; width: 20%; margin-left: 60%">
                                    <button id="btn_Save" class="btn btn-primary" onclick="return CheckValidation();" type="submit">Next</button>
                                    <span class="btn btn-primary" id="div_Next2">Next</span>
                                    &nbsp; &nbsp;  @Html.ActionLink("Cancel", "Login", "Login", new { @class = "btn btn-primary", @style = "display:none;" })
                                </p>
                                <div class="control-group">
                                    <div style="float: left; width: 50%;">
                                        <span id="PasswordMatch" style="color: red; display: none">Password must match</span>
                                        <span id="Sucess" style="color: green;">@TempData["SucessMessage"]</span>
                                        <span id="Fialure" style="color: red;">@TempData["ErrorMessage"]</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                }
            </div>
        </div>
    </div>

</body>
</html>

<script type="text/javascript">
    $('#Div_PasswordRule').click(function () {
       
        var status = $('#divPwdRules').is(':visible');
        if (status == false) {
            $('#divPwdRules').show();
        } else if (status == true) {
            $('#divPwdRules').hide();
        }
        // $('.confirmationdivinner').show();
    });
</script>
